/* Project specific styles here */



body {
    font-family: Calibri;
    
}
#mainContainer {
  width: 70%;
  height: 70%;
  border-radius: 5px;

  background-color: azure;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:  100% 100%;
}
#tripList {
  background-color: azure;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size:  100% 100%;
 }

 
 #scrollspy-example{
  position: relative;
}
 ul.nav-pills {
  top: 60px;
  position: fixed;
}
div.col-lg-9 div {
  height: 250px;
  font-size: 28px;
}

#tripHeader {
  background-color:#6B5C4F;
  
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 0px;
  border-radius: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;

}
 


 body {
    background-image: url('../../skyscrapers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

  #loginBox {
      background-color: white;
      border-radius: 1rem;
      width: 400px;
      height: 300px;
      top: 20%;
      opacity: 85%;
      margin: auto;
      
  }

  .col-md-3 {
      position: absolute;
      width: 300px;
      height: 200px;
  }


  .list-group-item.active {
    background-color:  #6B5C4F;
    border-color: #6B5C4F;
    width: 210px;    
  }


.material-icons {
vertical-align: -30%;
}

  

.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 210px;

}

.list-group-item:last-child {
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 5px;
width: 210px;
}
.list-group-item{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 210px;

}
input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
  font-size: 20px;
  color: #6B5C4F;

}

input[type="checkbox" i] {
  background-color: initial;
  cursor: pointer;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
 
  padding: initial;
  border: initial;

  
}

#informationBox {
  margin-bottom: 70px;
}

.frame{
  margin-bottom: 100px;


}
.btn-outline-secondary {
  vertical-align: 10%;
  border: none;
  color: rgb(108, 149, 163);
}
.btn-outline-danger {
  border: none;
  vertical-align: 10%;
  
}
.btn-outline-success {
  color: #28a745;
  border: none;
}

.btn-primary {
  background-color: #6B5C4F;
  border-color:  #6B5C4F;
}

.btn-primary:hover {
  color: #fff;
  background-color:  rgb(134, 118, 104);
  border-color:  rgb(109, 93, 79);
}

.btn-primary.active {
  background-color: #6B5C4F;
  border-color:  #6B5C4F;
}


#nav-tabContent {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px  ;
  border-bottom-right-radius: 1rem;
  padding: 20px;
  padding-top: 10px;
  width: 100%;  
}

.btn-outline-success {
  padding: 0px;
}

#accomodationName{

  font-size: 20px;
  font-weight: 550;
  color: #6B5C4F;
}
#accomodationExtraInfo{
  word-wrap: break-word;
  font-size: 18px;
  color: #6B5C4F;
  line-height: 30px;
}

#accomodationAddress{
  font-size: 18px;
  color: #6B5C4F;
  line-height: 30px;

}

#heading{
  font-size: 46px;
  font-weight: 550;
  color: #6B5C4F;
 
  text-align: center;

}

#transportheader{

  font-size: 20px;
  font-weight: 550;
  color: #6B5C4F;
}
#transportinformation{
font-size: 18px;
color: #6B5C4F;
line-height: 30px;
}

#transportlocation{
  font-size: 18px;
  color: #6B5C4F;
  line-height: 30px;

}

#travelDocumentName{
  font-size: 20px;
  font-weight: 550;
  color: #6B5C4F;
}

#travelDocumentStartTime{
  font-size: 20px;
  color: #6B5C4F;
}

#travelDocumentEndTime{
  font-size: 20px;
  color: #6B5C4F;
}

#travelDocumentExtraInfo{
  font-size: 20px;
  color: #6B5C4F;
}

#taskItem{
  font-size: 20px;
  color: #6B5C4F;
}
#checklistItem{
  font-size: 20px;
  color: #6B5C4F;

}

#registerform{

  color: #6B5C4F;
}

#addnewtrip{

  align-items: center;
  font-size: 15px;
  color: #6B5C4F;
}


















**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
  
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
  cursor: pointer;
  
}
/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}
.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}




.hidden-in-mobile {
  display: inline;
}

#label {
  margin-bottom: 3px;
}

.form-group {
  margin-bottom: 3px;

}

@media (max-width: 1600px) {
  #mainContainer {
    width: 85%;
    height: 85%;
  }
}

@media (max-width: 1200px) {
  #mainContainer {
    width: 90%;
    height: 90%;
  }
}


@media (max-width: 800px) {

  .hidden-in-mobile {
    display: none;
  }

  #mainContainer {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

  }
   

.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 80px;
}


.list-group-item:last-child {
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 5px;
width: 80px;
}
.list-group-item{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 80px;
}

.list-group-item.active {
  background-color:  #6B5C4F;
  border-color: #6B5C4F;
  width: 210px;    
  width: 80px;
}



 
}